# spring:
# datasource:
# url: jdbc:mysql://localhost:3306/inventory_db
# username: root
# password: root
# jpa:
# hibernate:
# ddl-auto: update
# show-sql: true


# Configure Database
# Create DB: inventory_db
# Update application.yml
# Run the application

# InventoryApplication.java 2️⃣ model/Item.java 3️⃣ repository/ItemRepository.java 
# 4️⃣ service/ItemService.java 5️⃣ controller/ItemController.java

# spring:
# datasource:
# url: jdbc:mysql://localhost:3306/inventory_db
# username: root
# password: root
# jpa:
# hibernate:
# ddl-auto: update
# show-sql: true
spring:
  datasource:
    url: jdbc:h2:mem:inventorydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080
